@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

:root {
    /*--primary-color: #244992;*/
    --primary-color: rgb(255,107,104);
    --secondary-color: #ffffff;
    --primary-background-color: rgb(43,43,43);
    --primary-background-color-lighter: #91979f;
    --secondary-background-color: #ffffff;
    --primary-border-color: rgb(187,187,187);
    --font-family-main: 'JetBrains Mono',Helvetica,Arial,sans-serif;
    --font-color: rgb(187,187,187);
}

body {
    font-size: .750rem;
    font-family: var(--font-family-main);
    color: var(--font-color);
}

.bg-dark {
    /*background-color: #000 !important;*/
    background-color: #c6c6c6 !important;
}

/*
 * Sidebar
 */

.header-left {
    background-color: var(--primary-background-color) !important
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0px 0 0; /* Height of navbar */
    background-color: var(--primary-background-color) !important;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--font-color);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    color: var(--primary-color); !important;
    font-weight: bolder;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.form-control {
    font-size: 0.8rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.nav-link.disabled {
    color: #4d4d4d !important;
}

.sidebar .nav-link.active {
    color: var(--primary-color); !important;
}

.sidebar .nav-link:hover {
    background-color: var(--secondary-background-color) !important;
    color: var(--primary-background-color) !important;
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-control:focus {
    border-color: var(--primary-color);
}

.bd-callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid var(--primary-border-color);
    border-left-color: var(--primary-color); !important;
    border-left-width: 2.25rem;
    border-radius: .25rem;
    background-color: var(--primary-background-color) !important;
}

.navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: .75rem;
}
.card {
    border-color: var(--primary-border-color);
    color: var(--primary-background-color);
}

.card-chart {
    padding: 15px;
}

.card-metric {
    background-color: var(--secondary-background-color) !important;
    border-color: var(--primary-border-color);
    margin-bottom: 5px;
    height: 270px;
}

.card-footer {
    background-color: var(--primary-background-color-lighter) !important;
}

.metric {
    font-size: 1.0rem;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color) !important;
}

.dropdown-menu[data-bs-popper] {
    margin-left: 180px;
    width: 100%;
    background-color: var(--primary-background-color);
}
.dropdown-menu {
    --bs-dropdown-border-radius: 0rem;
    --bs-dropdown-border-width: 0px;
}
.text-primary {
    color: var(--primary-color) !important;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem;
}

.align-items-start {
    text-align: center;
}

.cloud {
    /*color: #801542 !important;*/
    /*text-align: center;*/
    /*text-decoration: underline;*/
}


th {
    text-align: inherit;
    background-color: var(--secondary-color)!important;
    text-align: -webkit-match-parent;
    color: var(--primary-color)!important;
}
.table {
    margin-bottom: 0rem;
}
.table>:not(caption)>*>* {
    padding: 0.3rem .3rem;
    border-bottom-width: 1px;
}
td {
    color: var(--font-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: var(--font-color);
}

.card-img-top {
    width: 100%;
    height: 12vh;
    object-fit: scale-down;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    opacity: 25%;
}

#connectorStatus {
    text-align: center;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.connector-status {
    color: #777777;
    border-radius: 0px 0px .25rem .25rem;
}

.connected {
    color: green;
    font-weight: bold;
}

.disconnected {
    color: red;
    font-weight: bold;
}

.available {
    color: #ffd500;
    font-weight: bold;
}

.btn-danger {
    background-color: var(--primary-color);
}
.text-lg {
    font-size: 1.25em;
    font-weight: normal;
}
.text-sm {
    font-size: 0.85em;
    font-weight: lighter;
}

hr {
    color: var(--primary-border-color);
    opacity: 100%;
}

code {
    color: var(--primary-color);
}

.modal-header {
    background-color: var(--primary-background-color);
}
.modal-footer {
    background-color: var(--primary-background-color);
}
.modal-body {
    color: var(--primary-background-color);
}
a {
    color: var(--primary-color);
}
a:hover {
    color: var(--font-color);
}
.fixed-bottom {
    z-index: inherit !important;
}
footer {
    border-top: 1px solid var(--primary-border-color);
}

.border-bottom {
    border-bottom: 1px solid var(--primary-border-color);
}

.cloud-status {
    color: var(--font-color);
    font-weight: bold;
}

